[2018-05-17 13:22] nazgulsenpai opened #1 "Targeting .NET 4.5 & tinyJSON"
Godot's mono implementation is based on dotnet 4.5. When retargeting assembly to 4.5, tinyJSON's dataMemberAttribute.IsNameSetExplicitly is not valid as it was implemented I'm System.Runtime.Serialization in 4.6.2.

As a (currently untested) workaround I changed this to dataMemberAttribute.Name.Equals("")

If there any way I can help further, let me know!

[2018-05-17 13:27] nazgulsenpai commented on #1
I apologize, this is a non issue as Godot can target 4.6.2 but is 4.5 by default. Thanks for this awesome library!

[2018-05-17 13:27] #1 closed

[2018-08-01 06:30] BenDerPan opened #4 "Will this support .net core ?"
Will this support .net core ?

[2018-08-02 09:12] novabyte commented on #4
@BenDerPan Yes. I'd like to update the client to be compatible with .NET core but I'm not sure what's involved. Would you be able to open a pull request?

[2018-08-09 07:26] MatthewTing90 opened #5 "Question on reconnect session."
During Scoreleaderboard function, if the session is expired, it will go to error due with session haven't been initialize. But in my clsLoginInfo.cs I already put the reconnect and restore.
I worry that due with the threading task issue, it will run concurrent and cause this happen.

**ScoreLeaderboard.cs**
[code]
**clsLoginInfo.cs**
[code]

[2018-08-09 09:20] #5 closed

[2018-10-20 08:43] hdjay0129 opened #8 "Client's Timeout value is never used within WebSocketWrapper for ConnectTimout."
## Description
Timeout field of Client is currently not being used while creating WebSocketWrapper object.
So ConnectTimeout is set to default value of 5 seconds.

## Desired
WebSocketWrapper's ConnectTimeout should use Client's Timeout value.

[2018-10-20 13:51] mofirouz commented on #8
This Is fixed with your own PR 😬 (63bc5fc4741345648366c45cce3637b5e8cb0ad9)

[2018-10-20 13:51] #8 closed

[2018-10-21 15:41] hdjay0129 opened #10 "Using UnityLogger In client init cause Socket to not work properly"
##Description
Using **UnityLogger** causes WebSocketWrapper's constructor to return early because of **Trace** field being false.
https://github.com/heroiclabs/nakama-dotnet/blob/master/src/Nakama/WebSocketWrapper.cs#L92

Here's when there's is no logger provided in **Client** init, it uses **NullLogger** by default. so this Trace variable is true in that case,
-- https://github.com/heroiclabs/nak

[2018-11-05 16:18] novabyte commented on #10
This was solved in https://github.com/heroiclabs/nakama-dotnet/commit/06b88199e23b86b578d33d5bdfae343d38278d36.

[2018-11-05 16:18] #10 closed

[2018-12-20 06:17] bfops opened #13 "Add a copy of the GRPC status code enum"
A copy of [this](https://grpc.io/grpc/csharp/api/Grpc.Core.StatusCode.html) in the Nakama .NET code would mean that all the users of the library don't have to import their own copy :) (or, let's be real, litter the ints throughout their code).

[2019-01-10 11:34] hdjay0129 opened #14 "Stream.State is Null"
Inside OnStreamState, received Stream.State = null.
Related issue here - [https://github.com/heroiclabs/nakama-unity/issues/68]

[2019-01-11 08:30] hdjay0129 commented on #14
Logged the received messages from server and noticed something strange, match state data and stream state data are not same.
match state(data) is base64 encoded string from server while stream state(data) is a json encoded string.
match state -
`Socket read message: '{"match_data":{"match_id":"d9f601b3-6ca8-4481-a369-dbc8707bfefa.nakama","op_code":"910", "data":"eyJjX2NoaXBzIjoxNDk1Njg2MjczLCJjYXJ

[2019-01-11 08:32] hdjay0129 commented on #14
Should I change on the client side the datatype of Stream.State from byte[] to String **or** open an issue on nakama server to send stream state as base64 encoded string instead of json encoded string?

[2019-01-11 15:40] zyro commented on #14
In hindsight the stream data field in the protocol should have been a byte array (mapped to Base64 in JSON). We can plan this for the next release since it's a breaking change.

[2019-01-14 13:02] zyro commented on #14
@hdjay0129 I think for now the best solution is to make the appropriate changes here in the client library to ensure the stream state can be read correctly - can you open a PR for this?

In a later version of the server we can look at bringing stream data messages in line with match data messages to ensure arbitrary data is easier to send, and we'll make the corresponding client change at that poi

[2019-01-14 13:11] hdjay0129 commented on #14
@zyro Sure, I've made those appropriate changes(i.e. changing Stream.State from byte[] to String) locally and tested it and it's working.
I'll open a PR in a moment.

[2019-02-21 09:41] truonglvx opened #17 "Nakama client cannot connect to a Nakama service running after a loadbalancer."
When the client connect to a Nakama service that running after a loadbalancer using a path-based routing such as api.example.com/nakama, it failed.

[2019-03-01 12:11] hdjay0129 opened #18 "Throw a reason along with OnDisconnect Event of Socket"
#Description
Currently OnDisconnect Event of WebSocketWrapper doesn't have a reason along with it to know why OnDisconnect Event got triggered from socket.

OnError is also triggered when Socket is no logger connected and has an Exception Object with it which has info about disconnection. But OnError is also called on other Errors like SendMatchState error. So OnError can't be used to only detect

[2019-05-22 08:37] novabyte commented on #17
I'm going to triage this issue. Please reopen @truonglvx if you can provide more details.

[2019-05-22 08:37] #17 closed

[2019-06-06 14:14] novabyte commented on #4
We now use the dotnet CLI for builds so .NET core support is handled through it.

[2019-06-06 14:14] #4 closed

[2019-06-07 06:41] novabyte commented on #18
@hdjay0129 We've pushed up a new release of the .NET client. Please experiment with it and re-open this issue with specific exception reasons you think would be better sent to the socket closed event rather than the error event receiver.

[2019-06-07 06:41] #18 closed

[2019-11-21 17:51] NavidK0 opened #23 "Improve the RPC functions for clarity"
Continuation from https://github.com/heroiclabs/nakama/issues/400

My proposal is that the rpc functions that use POST requests allow for httpkey as a parameter for clarity & simplicity reasons. Currently, they only take a session token.

[2020-02-04 11:10] albermotion opened #24 "C# - Maximum time to join a match"
It could be interesting to be able to set a timeout when trying to join a match.
This way we could listen to an event similar to `ReceivedMatchmakerMatched` when the max time has passed and thus handle what to do next (maybe use an AI to play against the player or send a message to the player that no matches were found).

This might be added as an optional parameter when calling `AddMatchmakerAsyn

[2020-03-24 16:28] thegoldenmule opened #25 "IChannelPresenceEvent and IApiChannelMessage has empty room name"
#### Description

Submitting after discussion with @novabyte on gitter.

In short, the `RoomName` property is always blank on presence events.

#### Reproduction Steps

We have the server automatically join users to chat rooms on session start. Our plugin can then disallow all channel join requests. In this way, we lock down chat, so that users aren't joining rooms themselves.

To do this, we do:

[2020-04-25 16:41] novabyte opened #26 "RpcAsync called with HttpKey+Payload does not execute as a POST request"
As a workaround its possible to add the attached extension method to the `IClient` type which will enable usage which looks like:

[code]

A proper fix should be implemented in the code generator for the client sdk to handle this special case logic.

[RpcHttpKeyExtensions.cs.txt](https://github.com/heroiclabs/nakama-dotnet/files/4533528/RpcHttpKeyExtensions.cs.txt)

[2020-04-28 22:27] zfand opened #27 "Unity WebGL Sockets - InvalidOperationException, task already complete exception"
Hi Nakama,

I keep seeing this exception in my game only on WebGL builds in Production. From looking at the code I believe it has to do with raising an error and closing the socket. From the bridge jslib in your Unity package I see that errors are raised as exceptions [here](https://github.com/heroiclabs/nakama-unity/blob/master/Assets/Nakama/JsWebSocketAdapter.cs#L103) to the Unity layer and then

[2020-04-29 07:14] #27 closed

[2020-05-05 12:21] novabyte commented on #25
@thegoldenmule This is fixed in https://github.com/heroiclabs/nakama/commit/9843a76f80b9af6cc26eade53e51dff3e942c1ef and will be part of the next server release.

[2020-05-05 12:21] #25 closed

[2020-07-29 10:23] samuelpereira opened #31 "Configurable size on MaxMessageSize in WebSocketAdapter.cs"
Hi,

Can you make the MaxMessageSize configurable ?
Because the limit of MaxMessageSize = 1024 * 256 is too low!

Thanks

[2020-09-09 10:32] dre0dru opened #38 "Rejected rpc nullreference"
Hello! Found an issue with rejected rpc.
Recent changes are "return decoded error message rather than error dictionary when rpc fails".
But **IHttpAdapterExtensions** was not updated to handle error as **not** dictionary.
So when ```CopyErrorDictionary()``` method is called it tries to cast object as ```Dictionary<string, object>``` and than iterates over it which causes ```NullReferenceException`

[2020-09-13 20:36] lugehorsam commented on #38
@dre0dru could you share your server-side RPC code?

[2020-09-16 17:34] zfand opened #41 "Unity WebSockets - InvalidOperationException, task already complete exception"
Hi Nakama,

 I'm seeing this exception in my game on production for iOS/Android. I haven't been able to to figure out where it's coming from exactly but from looking at the code I believe there it's happening in the callback from Socket.cs calling `SetResult` instead of `TrySetResult` [here](https://github.com/heroiclabs/nakama-dotnet/blob/5a7ae9e28b73b2b0dbb48b00e5acd7f215b9c028/src/Nakama/Socket

[2020-09-16 17:42] lugehorsam commented on #41
Thanks @zfand, we'll take a look.

[2020-09-17 13:43] #38 closed

[2020-09-17 20:05] lugehorsam commented on #41
@zfand I think I agree that we'll want to modify that to `TrySetResult` -- but I wanted to ask what made you suspect it was coming from there? The stack trace is tricky because the `PongEventArgs` constructor is not doing anything meaningful.

[2020-09-18 11:13] #41 closed

[2020-12-15 22:02] newatlanta19006 opened #46 "Null Reference Exception when using Demote API on 2.7"
Hi!

I recently upgraded from Nakama 2.4 to latest (2.7) to use the new Demote Api for groups. I receive an nullreferenceexception when using the new API though. I haven't successfully executed demote yet. Before I was just using Kick then add new member for demoting before which did work but the new api is much cleaner. This is being done via a server to server call (from my .Net server to Nakama

[2020-12-16 18:39] lugehorsam commented on #46
Thanks for the report @newatlanta19006 - we'll be taking a look this week. Are you able to tell whether or not the server is receiving and responding to the demotion request? I usually do this via a `docker logs <container_id> --follow` on my local Nakama instance.

[2020-12-16 18:40] lugehorsam commented on #46
Also note that we test the demotion API here: https://github.com/heroiclabs/nakama-dotnet/blob/master/tests/Nakama.Tests/GroupTest.cs#L193

Let me know if you're able to spot any obvious differences between your code and that test case. Looking at your snippet, I don't see anything, but I may be missing a larger picture of your code.

[2020-12-16 20:05] newatlanta19006 commented on #46
I took a look at the Nakama server logs and it doesn't seem like the demote call is reaching Nakama. So I assume the error is occurring before it executes a network call.

[2020-12-18 21:03] Ersan45 opened #48 "ListFriendsAsync function returns empty value with FacebookId key"
## Description
When client calls ListFriendsAsync API function, result has empty value with FacebookId key.

## Steps to Reproduce
1. Authenticate user.
2. Call ListFriendsAsync function

## Expected Result

Result must contain value with FacebookId key
## Actual Result

Result does not contain value with FacebookId key
## Context

- [ ] Unity

## Your Environment

- Nakama: 2.15.0
- Database:19.2

[2020-12-20 16:21] lugehorsam commented on #48
@Ersan45 thanks for filing this issue -- I've transferred it to the nakama dot-net repository and will address it after the holidays.

[2020-12-30 10:24] OtterBlitzStudio opened #49 "Socket implementation replaces complete path before sending to adapter"
Hey,

https://github.com/heroiclabs/nakama-dotnet/blob/9c9716eae213ed5dc56912bb7914d7a217cb43ab/src/Nakama/Socket.cs#L187
am I right that this line replaces the complete path?

So if I have "https://my-domain.com/nakama-server" as my _basURI I send "https://my-domain.com/ws?..." to the adapter instead of "https://my-domain.com/nakama-server/ws?...", right?

[2020-12-30 13:23] novabyte commented on #49
@OtterBlitzStudio It's not recommended to run the server from a path within a domain. You should run it from the root of the domain and use subdomains to host parts of the application. For example mygame.com and gs.mygame.com. This works very well with a wildcard SSL certificate and the server already correctly responds to CORS requests to allow for web-based games.

In your example the socket end

[2020-12-30 13:23] #49 closed

[2021-01-04 23:20] lugehorsam commented on #48
@Ersan45 `ListFriendsAsync` returns a collection of `IApiFriend`. Each `IApiFriend` has an attached `User` from which you can access a `FacebookId`. Are you saying some of the `FacebookId` values are empty? And you're sure those users have authenticated via Facebook?

[2021-01-05 21:17] Ersan45 commented on #48
@lugehorsam All the ```FacebookId```s are empty. Yes I am sure that they are all authenticated via Facebook.

[2021-01-25 20:54] newatlanta19006 commented on #46
Any updates on this issue? I would like to use the Demote Api on our server but it doesn't seem to work.

[2021-01-25 21:50] lugehorsam commented on #46
@newatlanta19006 when you run the client with a breakpoint are you able to tell what's null?

[2021-01-25 22:00] newatlanta19006 commented on #46
No, it is happening internal to the Nakama library, not in the calling code.

[2021-01-26 01:45] lugehorsam commented on #46
@newatlanta19006 I recommend building the library from source with debug symbols and/or logs in order to see what your issue is. I don't see anything wrong with your code but like I said earlier, there is likely something in your environment or codebase that could be causing the problem.

If you have a minimal viable reproduction that would also be welcome.

[2021-01-27 21:23] lugehorsam commented on #48
@Ersan45 this is resolved in our new Nakama 3.0 release.

[2021-01-27 21:23] #48 closed

[2021-02-05 21:28] newatlanta19006 commented on #46
This is where the null reference is happening after building the project and debugging @lugehorsam
![Capture](https://user-images.githubusercontent.com/721127/107090936-cc581c00-67b5-11eb-955b-1df1d960b111.JPG)

I can confirm that Nakama (server is running on 2.7.0+d5e0b5bb. So perhaps the demote url is wrong? Not sure what else to test. Either way, it feels like the "Not Found" result should be p

[2021-02-05 21:48] newatlanta19006 commented on #46
If I drill down to the url level:
Promote is available as expected:
https://nakamadev.pizzaclubgames.com/v2/group/0cc592dc-a366-4581-8692-157834de2e6f/promote?user_ids=9ff530c5-f2a4-49d4-a916-e3a9ac72fbcb&
Demote is Not Found:
https://nakamadev.pizzaclubgames.com/v2/group/0cc592dc-a366-4581-8692-157834de2e6f/demote?user_ids=9ff530c5-f2a4-49d4-a916-e3a9ac72fbcb&

I can again confirm that the server

[2021-02-05 21:59] lugehorsam commented on #46
Hey @newatlanta19006 the demote API was added in Nakama 2.13. Can you upgrade to that and try it?

[2021-02-05 22:01] newatlanta19006 commented on #46
Sorry @lugehorsam, I am on latest nakama server. I dont wish to downgrade. I am not sure I understand the suggestion.

[2021-02-05 22:02] lugehorsam commented on #46
The latest release of Nakama server is here: https://github.com/heroiclabs/nakama/releases/tag/v3.1.0

[2021-02-05 22:06] newatlanta19006 commented on #46
Ohhh, perhaps I am confused then about how to upgrade docker image. When I upgrade my docker image, I usually run:
sudo docker pull heroiclabs/nakama (this is how I upgraded from 2.5 -> 2.7).

How am I supposed to upgrade to 3.1 and future releases?

[2021-02-05 22:13] lugehorsam commented on #46
@newatlanta19006 I'd check out the Docker docs for those sorts of q's but in this case, `docker pull heroiclabs/nakama:3.1.0`

[2021-02-05 22:13] #46 closed

[2021-02-05 22:17] newatlanta19006 commented on #46
Ok thanks! This looks like the problem.

If I could make a suggestion, it might make sense to make the upgrade steps more clear here:  https://heroiclabs.com/docs/install-nakama-upgrade/

If you do this without also manually updating the docker-compose.yml to the new version, it won't help much it seems

[2021-02-25 04:31] ernesernesto opened #118 "C# - Add unwrap argument to client rpc async if passed with payload"

[2021-04-20 19:36] yourbestfriendton opened #57 "Unity WebGL ConcurrentDictionary Issues"
Hello, we are getting uncaught Emscripten dll errors from Socket close code with the stack shown below.

[code]

Conditions:
**Unity**: 2018.4.26f1, WebGL
**Browser**: Chrome, Version 89.0.4389.114 (Official Build) (x86_64) (for example, no wide spread testing)
**Nakama/Version.txt**: v2.3.1

Using debug logs, I verified that the code reaches up to the below snippet, at which point we get the abor

[2021-04-20 21:25] novabyte commented on #57
@yourbestfriendton Have you followed the README on the Unity Nakama client. Your code will need to use the WebGL adapter with the socket on WebGL builds. You can either use `client.NewSocket()` in the Unity package or you can manually control which socket adapter is used with:

[code]

https://github.com/heroiclabs/nakama-unity#unity-webgl

Let me know if this solves the issue.

[2021-04-20 21:35] yourbestfriendton commented on #57
For the stack I posted, we did have that code. I think you can see JsWebSocketAdapter in the stack, if you were concerned we were using the WebSocketAdapter version. Also when I tried the UnitySocket changes, I also updated that code to match those changes

[code]

The stack reflected that the new UnitySocket code was being hit, but it still led to the ConcurrentDictionary

[code]

[2021-04-23 20:03] yourbestfriendton commented on #57
For what it is worth, I am aware of another project which is using Nakama with Unity 2019.4.15f1. To my knowledge they do not have this issue. When I made a test project with the problematic ConcurrentDictionary Clear, no adverse effects were observed.

[code]

[2021-04-26 12:08] lugehorsam commented on #57
Thanks @yourbestfriendton, we are aiming to have a patch fix for this today.

[2021-05-15 21:10] novabyte commented on #57
@yourbestfriendton This is solved in the [latest release](https://github.com/heroiclabs/nakama-dotnet/releases/v2.9.0) and will be part of the next Unity client release.

[2021-05-15 21:10] #57 closed

[2021-05-17 14:23] lugehorsam opened #60 "Investigate Roslyn deterministic builds"
See if the `deterministic` flag that can be passed to the Roslyn toolchain will help with non-determinism observed in Unity WebGL Builds.

[2021-05-23 11:36] cata0309 commented on #31
Please do! This affects my project as well

[2021-05-23 12:09] cata0309 opened #63 "Task canceled when trying to send messages bigger than 3900 size"
I receive this
```Unhandled exception. System.Threading.Tasks.TaskCanceledException: A task was canceled. at Nakama.Socket.WriteChatMessageAsync(String channelId, String content)```
^ when trying to send messages over 3900 chars long
What should be the problem and how can I fix it?

[2021-05-23 12:19] novabyte commented on #63
@cata0309 This is not an issue with the .NET client SDK. You should configure the `--socket.max_message_size_bytes` option in the server to fit what you need. By default the value is ~4KB. https://heroiclabs.com/docs/install-configuration/

[2021-05-23 12:19] #63 closed

[2021-05-23 12:21] novabyte commented on #31
@cata0309 How large are the messages you want to send? It's very unusual (we've never encountered this yet with a game project) which needs to send more than ~256KB in a single message.

[2021-05-25 00:07] lugehorsam commented on #60
It doesn't help with the WebGL issue.

[2021-05-25 00:07] #60 closed

[2021-06-08 10:58] keiranlovett opened #66 "Provide means to get PartyID user is in."
Within the context of requesting to join another players party there needs to be a way get that party ID.

Proposing - A simple function that returns the party this user has joined. If user hasn't joined any party yet, null will be returned.

[2021-06-08 12:40] novabyte commented on #66
@keiranlovett The API you propose would need to be batch orientated like our other APIs for performance. I'll have a discussion with the team on how we could provide a better experience when a game wants to surface the friends who are in parties on their friends list for example.

In the meantime this could be achieved with status updates where the user inserts into their status the ID of the part

[2021-06-24 07:57] ShadowFactoryTeam commented on #26
We're using the provided `RpcHttpKeyExtensions.cs` and until now it was working perfectly!

We've just rolled out HTTPS support across our solutions and we're getting an issue with the only implementation that uses `RPCAsyncPost`. The returned exception is `Cert handshake failed. verify result: UNITYTLS_X509VERIFY_FATAL_ERROR.`

[2021-06-24 09:26] novabyte commented on #26
@ShadowFactoryTeam I took another look at the extension code I'd written to refresh it in my mind. There's nothing in it that does anything different to the rest of the SDK. It uses the same `UnityWebRequestAdapter.Instance` as all the other SDK functions would.

Can you share code for how you initialize the `Client` type in your project?

[2021-06-25 02:52] ShadowFactoryTeam commented on #26
There's no difference with how we initialize

[code]

This particular function with the issue is run on headless unity servers, we now believe it has to do with another issue that plagues Linux / Unity projects outlined here - https://forum.unity.com/threads/ubuntu-headless-build-tls-handshake-fails.546704/

[2021-06-25 09:16] novabyte commented on #26
@ShadowFactoryTeam I had a read of the issue on that forum thread and it looks like what you'll need to do:

1. Make sure the `curl` package is installed on the base distro that your headless instances are running on.
2. Figure out where the certificate store is on your base distro and symlink it to the location that Unity expects to find it at startup.

Hope that helps.

[2021-07-05 07:48] ShadowFactoryTeam commented on #26
@novabyte the missing CURL package was indeed the issue. Thanks for helping.

[2021-07-16 15:25] ragavendranbala opened #70 "Extra Players on the Room, Than Max Count"
https://forum.heroiclabs.com/t/extra-players-on-the-room-than-max-count/1737

link for the issue

[2021-07-29 16:41] alexbfreeman opened #71 "OperationCanceledException being thrown on ISocket.ConnectAsync and ISocket.Dispose"
Hello everyone,

I'm trying to close a socket connection by calling the CloseAsync method of Socket.cs. This exception is being thrown and I think I know the reason

[code]

This is the Connect method from WebSocketAdapter.cs

[code]

It is not catching the case where a OperationCanceledException is thrown because a cancellation request has been made.  Is this intentional? Wouldn't it be more appr

[2021-07-30 13:01] lugehorsam commented on #71
Hey @alexbfreeman, I can understand why you may expect an error not to be thrown since you are the one initiating the cancellation. However, this is a bit of a double-edged sword because other users may actually expect it to throw. Also, there is not always a way to detect what the source of a cancellation is from the perspective of the `Task`.

In a gray area like this we defer to Microsoft which

[2021-07-30 13:04] lugehorsam commented on #71
Actually @alexbfreeman I think there may be a few related issues with this block. I'll circle back with the team.

[2021-07-30 13:33] lugehorsam commented on #71
@alexbfreeman I wanted to confirm that you are closing the connection while the socket is connecting? If so, this is expected behavior. Otherwise it may not be.

[2021-07-30 14:41] alexbfreeman commented on #71
Yes, it's an OperationCanceledException. I can't properly catch the exception on my code because it happens in the inner loop (ReceiveLoop), which is inside an async void method (see https://docs.microsoft.com/en-us/archive/msdn-magazine/2013/march/async-await-best-practices-in-asynchronous-programming on why we should avoid async void methods except if it's an event handler).

I could wait for a

[2021-07-30 16:12] alexbfreeman commented on #71
Could MemoryStream.ReadAsync be returning an OperationCanceledException instead of a canceled task?

[2021-07-30 17:51] lugehorsam commented on #71
It's possible. I'll have a look later today or Monday to see if there's something I can simplify and make more predictable as to what exceptions are thrown when.

[2021-07-30 20:02] alexbfreeman commented on #71
After a few tests I might have another idea on what's going on... Please correct me if I'm out of my mind.

I think MemoryStream.ReadAsync **is** returning a cancelled task.

Now... when the Nakama client awaits on said task it will throw a TaskCanceledException. However, WebSocketImplementation.ReceiveAsync is catching and throwing a
OperationCanceledException. So TaskCanceledException turns into

[2021-08-02 14:03] lugehorsam commented on #71
@alexbfreeman Agreed on the `async void` point -- I'll make that change. The original author is on vacation for a week so I'll probably wait for his review in case he had a particular behind the `async void`.

What's odd to me though is I can't reproduce the throwing of an exception while closing a socket in my .NET test, regardless of whether or not the socket lifecycle methods return `Task` or n

[2021-08-02 14:40] lugehorsam commented on #71
I'm also having trouble triggering the exception to be thrown in Unity. The socket connects and closes without any errors or exceptions. If you have an example reproduction though, that would be great.

[2021-10-06 14:50] johnmarianhoffman opened #74 "No Protobuf/Binary encoding Support?"
Hi All,

First of all, thanks for all of the work put into this library.

This is more of a general question, seeking-some-clarity issue than a bug fix, feature request, etc.

I've been poking through the repo over the last few weeks and it seems like there is not support for the [realtime protobuf file specified by the Nakama server project](https://github.com/heroiclabs/nakama-common/blob/master

[2021-10-07 19:43] lugehorsam opened #75 "C# - Make certain parameters in ListFriendsAsync optional"
For example, the `state` should default to null so all friends are listed by default.

[2021-10-18 10:37] tomglenn opened #76 "BanGroupUsersAsync expects user IDs not usernames as per documentation"
The documentation for BanGroupUsersAsync says the function expects an array of usernames, but in fact it expects an array of user Ids.

https://github.com/heroiclabs/nakama-dotnet/blob/5d4e02164893fb24fbb9e24fbc0fb38dccf0f9e6/src/Nakama/IClient.cs#L210

[2021-10-18 13:40] #76 closed, assigned to tomglenn

[2021-11-15 21:49] Meneleus opened #82 "C# - Exception when attempting to reconnect"
In my tests for reconnection, I restart my Nakama server while having an active client. The client retries to reconnect automatically as the server is coming up. However, it fails due to an expired session. At that point it askes the user to re-authenticate. When the user submits I see the following exception:

Noticed this while testing my re-connect logic:

[code]
It's a Windows build. Not sure

[2021-11-17 17:35] Donnotron666 commented on #71
Hi! Just weighing in! This exception has been plaguing our project for a bit, even though I've never been able to reproduce it in Unity- it's our number one exception that appears in our automated exception tracker.

[2021-11-17 17:58] lugehorsam commented on #71
@Donnotron666 A fix for this issue is under team review and will be included in the next Nakama release.

[2021-12-03 17:00] gamecentric opened #83 "CancellationTokenSource parameteres should be CancellationToken instead"
It is conceptually wrong to have async functions that can be cancelled take a CancellationTokenSource parameter. A CancellationTokenSource parameter conveys the meaning that a function is going to trigger the cancellation, but it's not the case. The correct pattern is for those functions is to take a CancellationToken instead (see for example https://docs.microsoft.com/en-us/dotnet/standard/thread

[2021-12-03 17:03] novabyte commented on #83
Thanks for the issue report @gamecentric. We're aware that the API should use `CancellationToken` rather than `CancellationTokenSource` but for various historic reasons (code generators, etc) we used the CTS to maintain the API in a backwards compatible way.

We plan to break the API in the next major version of the server but in the meantime pull requests are welcome if you'd like to add the meth

[2021-12-09 13:49] gamecentric commented on #83
[Merged into master](https://github.com/heroiclabs/nakama-dotnet/commit/ca6f86df3843770b0512d3bfd05c5632dfaffa5d).
Thanks for having considered this contribution.

[2022-01-06 16:57] adbourdages opened #87 "RcpAsync server exceptions are not propagating to the caller try-catch block"
Following up on this [forum thread](https://forum.heroiclabs.com/t/exception-handling-of-server-errors/2236/5?u=adbourdages).

The setup is an rpc written in TS that throws an exception
[code]

On the client, calling that rpc with the following will not trigger any of the catch blocks.
[code]

The console shows
[code]

It is like the Nakama client is handling the exception and not re-throwing it.

[2022-01-11 16:50] adbourdages commented on #87
I took a big dive in the code and figured out the issue is with the [RetryInvoker timer logic](https://forum.heroiclabs.com/t/exception-handling-of-server-errors/2236/6?u=adbourdages). Then I realized that code what updated last week in this repo. Well done devs :-)

Using the Unity SDK, I replaced the 3.2.0 DLL with this source code and everything is working.

[2022-01-11 16:50] #87 closed

[2022-01-18 06:12] mattkanwisher opened #88 "Problem running tests "RPC function not found""
I setup the tests with docker here, however a 31 of the tests fail, i'm wondering if something is just not setup correctly

[code]

test failure errors

[code]

[2022-01-18 10:07] mofirouz commented on #88
Hi @mattkanwisher - thanks for your contribution (and your PR #89).

The test rely on runtime code be loaded by your local Nakama instance - you can find the necessary runtime code here:
https://github.com/heroiclabs/nakama/tree/master/data/modules

Grab a copy of that, put it somewhere, point Nakama to it, and run the tests and they should pass. Thanks!

[2022-02-03 08:40] Nixarn opened #90 "Add more error information"
When Nakama throws an exception it would be useful to get more information about the exception. At the moment the only way you can do it is by doing a string comparison on the exception message.

For example when you join a match with an invalid match id, the nakama server return error code 3 (bad input) but the .net client library does not pass on this information. The error code you get in this

[2022-02-03 17:07] kstewart-zynga commented on #31
We are seeing this as well when sending over some configuration data. We're at the point in the project where it isn't easy to reeingineer the data we return to be more broken up (possible long term goal), so having this be configurable would save us some medium term headaches.

Also note that because this is serialized into a JSON envelope by protobuf if you're serializing especially deeply neste

[2022-02-16 03:30] novabyte commented on #31
This is now resolved and will be part of the next release.

[2022-02-16 03:30] #31 closed

[2022-02-19 12:21] igorshostakdev opened #92 "C# - Socket from Unity SDK does not timeout from ping/pongs"
I have just started using Nakama (3.3.0) in one of the mobile projects and stumbled across a problem with a socket connection. Everything seems to be working fine on a target device, but when it comes to testing in the editor, things start to get strange. I am using this code to keep track of the connected state of the socket:

[code]
Then while connected I just unplug my laptop from the Internet,

[2022-02-21 17:25] dresswithpockets opened #93 "SocketException when connecting a socket"
Running a local Nakama server, I'm able to connect and authenticate a session normally. When calling `ISocket.ConnectAsync`, however, I get an exception resembling:

[code]

Occasionally the message will say "Attempt to access invalid address", instead of "The operation completed successfully". The stacktrace is otherwise identical.

Connect code:
[code]

`OnSuccess` and `OnError` are defined [her

[2022-02-21 22:42] novabyte commented on #93
@dresswithpockets What arguments do you pass through to configure the socket when it's created? Do you use `"localhost"` or an IP address as the host address?

[2022-02-22 17:01] dresswithpockets commented on #93
I've tried both `127.0.01` and `localhost` @novabyte

[2022-02-26 06:24] dresswithpockets commented on #93
Just in case this might have been a funny DNS issue with docker, I tried it by running the nakama server outside of docker, and that also resulted in the same error.

@novabyte have any idea what might be going on here?

[2022-02-27 11:54] novabyte commented on #93
@dresswithpockets Thanks for the update. A couple of notes on why we have the two adapters:

- `WebSocketAdapter` - Uses `Ninja.WebSockets` as the base network subsystem. We use this for Unity engine compatibility because there's a couple of different Mono runtime bugs which have so far never been resolved which prevents us from using the adapter below.
- `WebsocketWasmAdapter` - Uses `System.Net.

[2022-02-28 18:22] dresswithpockets commented on #93
Ah, interesting. If those bugs are apart of Mono, then wouldn't they carry over to Godot, since Godot uses Mono? Or is it specific to the version of Mono that Unity uses? @novabyte

[2022-02-28 19:25] novabyte commented on #93
@dresswithpockets Unity uses their own fork of Mono runtime with patches of their own but also without patches which have been resolved in the main branch. It's a couple of patches from the main branch which historically weren't carried over into Unity's fork. I think Godot likely uses the main branch of Mono runtime.

[2022-04-11 15:48] D4vid2012 opened #98 "Import this in a Godot(c#) mono engine ?"
Is there a way to do this ? I'm actually struggling with this..

[2022-04-11 15:52] lugehorsam commented on #98
Hey @D4vid2012 yes we support usage in Godot with either the C# or Godot clients. How are you importing the .dll? We recommend doing it through Nuget.

[2022-04-11 16:02] D4vid2012 commented on #98
Hello, I downloaded the client and build it from the source as explained but I don't know how to "merge" it with my godot project. I am not very experimented in this, can you please show me how to this correctly through Nuget ?

[2022-04-11 16:05] lugehorsam commented on #98
@D4vid2012 does your Godot project have a `.csproj` file? If so, you should just need to add the following to it underneath the `Project` tag:

[code]

[2022-04-11 16:23] D4vid2012 commented on #98
I did it, what do I have to import into my project now ? I get two Nakama.dll, one located in bin > net46 and the other in bin > netstandard2.0

[2022-04-11 16:44] lugehorsam commented on #98
@D4vid2012 I think you have what you need from us, for any further steps definitely check out the Godot documentation.

[2022-04-11 16:44] #98 closed

[2022-04-11 16:52] D4vid2012 commented on #98
Okay thank you !

[2022-04-27 14:31] lugehorsam opened #99 "C# - Thread socket timeout through the pingpongmanager"
Currently it applies correctly to Tasks that are created as part of the request-response model Nakama uses over the socket.

But we may want to add a separate timeout or use the existing timeout as well for the pingpong manager.

[2022-04-28 11:26] novabyte commented on #93
@dresswithpockets I think your issue is resolved as far as can be handled by the Unity client. The rest depends on Godot Mono support to be improved as needed. I'll close this issue.

[2022-04-28 11:26] #93 closed

[2022-07-10 18:04] JayArrowz opened #106 "TcpClient does not work properly on GoDot v3.4.4 Mono"
Info:
TCP client throwing invalid address error with IPv4 addresses for some reason. This is not recognised as a url `ws://127.0.0.1:7350/ws?lang=en&status=False&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiIzZGVlYThhZC0wMTVmLTQyZTktYjdhMS0zN2M3OGY3ZTZmMjkiLCJ1c24iOiJ4cWx0VXRTS25ZIiwiZXhwIjoxNjU3NDgzMTA4fQ.UwMwhtLrK0Yzd4ylNG2MXkC_rRLMOvq2nbZKy7n6xBY` when TCP client is in V6 mode and DualM

[2022-07-10 19:28] lugehorsam commented on #106
Hey @JayArrowz, thanks for filing the issue. I don't think it's a Nakama issue per se because it's up to Godot's Mono distribution to support Dual Mode.

Is there anything you'd like to see on our end here?

[2022-07-13 15:57] JayArrowz commented on #106
@lugehorsam
Is it possible we can add a flag to be able to set the TCP sockets address family and dual socket mode?

[2022-07-14 19:48] JayArrowz commented on #106
@lugehorsam can confirm the WebsocketStdLibAdapter works with godot mono 👍

[2022-07-14 20:29] lugehorsam commented on #106
Thanks for testing @JayArrowz we'll document this in the README when we get the chance.

[2022-07-14 20:29] #106 closed

[2022-08-08 11:49] oshribin opened #109 "HttpRequestAdapter failed to handle non json error response"
We encounter an issue where the server (probably the underlying load-balancer) failed with 502 server error which returned as a plain HTML.

[code]

In such case this piece of code will result with
```System.NullReferenceException: Object reference not set to an instance of an object``` as the result of `contents.FromJson<Dictionary<string, object>>()`
 is null.

https://github.com/heroiclabs/naka

[2022-08-08 12:54] lugehorsam commented on #109
@oshribin can you share details about your underlying infrastructure? Are you using Heroic Cloud?

[2022-08-10 07:02] oshribin commented on #109
Yes,
We are using Heroic Cloud.
High-Availability Enabled.

[2022-09-06 22:47] GaNacereddine commented on #71
@lugehorsam Can you share if this was ever fixed?

[2022-09-06 23:16] lugehorsam commented on #71
@GaNacereddine yes it should be fixed. I'll close out this issue.

[2022-09-06 23:16] #71 closed

[2022-09-14 20:05] h3ph4est7s commented on #17
a root path parameter to this line https://github.com/heroiclabs/nakama-dotnet/blob/ccc9f351522511f4cd8bfc870866b2bd483c0599/Nakama/Client.cs#L115 is probably going to solve this problem.

[2022-09-18 21:32] #109 closed

[2022-09-19 11:06] h3ph4est7s opened #116 "Nakama service cannot work behind a reverse proxy"
The nakama service cannot run behind a reverse proxy as the client does not accept a path to the connection URI. I dont see why this is not possible from the moment nakama uses websockets and HTTP API calls. The added value of this is also security filtering from broadly available WAFs and other security solutions. This is relevant to https://github.com/heroiclabs/nakama-dotnet/issues/17

[2022-09-19 21:12] novabyte commented on #116
@h3ph4est7s The reason this has not been added is simply because it's not been needed so far. All game teams that we work with and those who use Nakama typically deploy it with a dedicated sub-domain. Please open a pull request.

[2022-09-21 15:13] #88 closed

[2022-09-22 13:14] lugehorsam opened #120 "Check .NET client constructor and document parameter limitations"

[2022-09-23 13:54] #120 closed

[2022-09-28 22:12] #116 closed